:root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;

  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #eb7;
}

body {
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
  background-color: #d4cccc;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #edeced;
}

h2 {
  color: #f05a38;
  font-size: 2.2em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.div h2 {
  text-align: center;
}

button {
  margin: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eb7f67;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #eb7f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input {
  width: 100%;
  padding: 0.3em;
  margin: 10 em;
}
form {
  width: 90%;
}

label {
  color: #1a1a1a;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 1px;
  width: 100%;
  font-weight: 1000;
  font-size: 18px;
  text-align: left;
}
#termsCheckbox {
  width: 22px;
  display: flex;
}
.form-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  height: 90%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}
.title {
  color: #f05a38;
  text-shadow: 5px 5px 5px #242424;
  text-align: center;
  background-color: transparent;
}
p {
  color: #1a1a1a;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5%;
}

select {
  font-size: 1.1em;
  width: 28em;
  margin-left: 1em;
}
.parrafo {
  width: 70%;
  height: 20%;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.terms {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}
.form-group h2 {
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.page-commerce {
  background-position: center center;
  background-image: url("../src/assets/images/imagesPages/load-2060616_1280.jpg");
  background-size: cover;
  width: 100vw;
  height: 50vw;
}
.page-usuarios {
  background-position: center center;

  background-image: url("../src/assets/images/imagesPages/shop-4527402_1280.jpg");
  background-size: cover;
  width: 100vw;
  height: 50vw;
}
header {
  display: flex;
  flex-direction: row;
  height: 15%;
}
.dashboard {
  display: grid;
  background-position: center center;
  /* background-image: url("../src/assets/images/imagesPages/shopping-879498_1280.jpg"); */
  background-size: cover;
  justify-items: center;
  height: fit-content;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
