label {
  text-align: center;
}



button {
  font-weight: 900;
}

table {
  text-indent: 0.1em;
  border-spacing: 5px;
  font-size: 1.15em;
  width: 100%;
}
th {
  border: #213547 solid 1px;
  font-size: 1.2em;
  align-content: center;
}
td {
  border: #213547 solid 1px;
}
#nombre-comercio {
  background-color: rgba(255, 255, 255, 0.4);
}

.input-producto {
  width: 40em;
  margin-left: 1em;
}
.form-container-producto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2%;
}
.h3 {
  align-self: center;
  font-size: 1.4em;
  margin: 0%;
}

.div h2 {
  text-align: center;
}

.commerce {
  background-position: center center;
  background-size: cover;
  background-image: url("../assets/images/imagesPages/fruit-436476_1280.jpg");
  display: flex;
  flex-direction: column;
  height: 50vw;
  width: 100vw;
  margin: 0%;
}
.commerce-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: 50%;
}
.side-bar {
  grid-column: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.right-section {
  grid-column: 2 / 4;
  width: 100%;
  border: 2px white solid;
  margin: 2%;
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.8);
}
.title-commerce {
  color: #f05a38;
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-borrar {
  background-color: #c5c7c9;
  padding: 0%;
  margin: 0%;
  border: none;
}

#header-commerce {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}
